html, body {
    margin: 0;
}

.container {
    width: 1000px;
    height: fit-content;
    /* background-color: rgb(99 219 185 / 36%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 
                -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.add-work {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-work form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 400px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-option {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.due-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.date-picker {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.see-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.normal-list {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 
                -2px -2px 4px rgba(0, 0, 0, 0.3);
}

.list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(184, 235, 241, 0.59);
    width: fit-content;
    border-radius: 5px;
    border: 0.5px solid black;
}

.item p {
    margin: 0;
    font-size: 16px;
    width: 400px;
    text-align: left;
    padding: 10px;
    margin-right: 5px;
}

.delete-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 70px;
    margin: 5px;
}

.edit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #059c3d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 70px;
    margin: 5px;
}

.para-options {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
}

