html, body {
    margin: 0;
}

.nav-bar {
    width: 100%;
    background-color: #4fd1f4;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-bar-heading {
    font-size: 30px;
    font-weight: 600;
}

.container {
    position: relative;
    top: 60px;
    width: 1000px;
    height: fit-content;
    background-color: #e9e3e332;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 
                -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.add-work {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-work form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 400px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-option {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.due-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.date-picker {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.subtask {
    display: flex;
    justify-content: space-between;
}

.subtask input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.subtask .btn {
    width: 140px;
}

.reminder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.logs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 
                -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.logs .btn {
    width: 150px;
}

.see-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.normal-list {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 
                -2px -2px 4px rgba(0, 0, 0, 0.3);
}

.list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(184, 235, 241, 0.59); */
    width: 100%;
    border-radius: 2px;
    /* border: 0.5px solid black; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 
                -2px -2px 4px rgba(0, 0, 0, 0.3);
}

.item p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    width: 400px;
    text-align: left;
    padding: 10px;
    margin-right: 5px;
}

.task-details {
    margin: 10px;
}

.task-check {
    display: flex;
}

.subtask-list {
    margin-top: 0;
}

.subtask-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subtask-list li button {
    padding: 4px;
    font-size: 14px;
}

.delete-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 70px;
    margin: 5px;
}

.edit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #059c3d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 70px;
    margin: 5px;
}

.subtask-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-delete {
    margin: 10px;
}

.para-options {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.list-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #e9e3e3;
    border-radius: 5px;
}

.list-filter .btn {
    width: 200px;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    gap: 5px;
}

.date-filter, .category-filter, .priority-filter {
    width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.list-sort {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #e9e3e3;
    border-radius: 5px;
    gap: 10px;
}

.sort {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search .sort {
    padding: 10px 0;
}

.list-sort .btn {
    width: 120px;
}



